@model Veenca.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Commento su più
      righe  in C#

    @{
        var className = Model.Customers.Count > 3 ? "popular" : null;
     }
    <h2 class="@className">@Model.Movie.Name</h2>
    @if (Model.Customers.Count == 0)
    {

        <p>No customers rented this movie</p>
    }
    else
    {
    <ul>
        @foreach (var customer in Model.Customers)
        {
           <li>@customer.name</li>

        }
    </ul>
    }
*@
